@page "/"
@using KirillPlusDota.Data
@inject DotaService DotaS

<h1>Кирилл сейчас в доте?</h1>
<p class="display-4" style="color:@color">@_game</p>

@code{
    private string _game = "Хер пойми чё он делает ¯\\_(ツ)_/¯";
    private string color = "darkred";

    protected override async Task OnInitializedAsync()
    {
        string game = await DotaS.GetGame();

        if (!string.IsNullOrEmpty(game))
        {
            if (game == "Dota 2")
            {
                _game = "Да!";
                color = "darkgreen";
            }
            else
            {
                _game = $"Нет, он в {game}";
            }
        }
    }
}